.normal-btn {
    display: inline-block;
    width: 70px;
    height: 40px;
    border: none;
    background-color: antiquewhite;
    border-radius: 5px;

    // font-weight: 600;
    // font-size: medium;

    // 우 하 은은전체 진하게전체 
    box-shadow: 0px 0px 2px 0px rgb(170, 170, 170);
}

.tab-btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: none;
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgb(170, 170, 170);
    margin-right: 5px;
}

.btn-test {
    background-color: #D0E9E9;
}