.normal-btn {
    display: inline-block;
    width: 5rem;
    height: 2rem;
    border: none;
    background-color: #FFF5D1;
    border-radius: 5px;

    // font-weight: 600;
    // font-size: medium;

    // 우 하 은은전체 진하게전체 
    box-shadow: 0px 0px 3px 0px rgb(170, 170, 170);

    // font-family: "Jalnan";
    color:rgb(66, 66, 66);
    font-weight: 800;
    font-size: 0.9rem;

    cursor: pointer;

}

.tab-btn {
    display: inline-block;
    width: 5.5rem;
    height: 2rem;
    border: none;
    // background-color: #CECECE;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgb(170, 170, 170);
    margin-right: 5px;
    // font-family: "Jalnan";
    color:rgb(66, 66, 66);
    font-weight: 800;
    font-size: 0.9rem;

    cursor: pointer;
}

.selected {
    background-color: #FFF8BC;
    // border-color: #FFEA20;
}

.btn-test {
    background-color: #D0E9E9;
}

.rating-btn {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
}

.board-update {
    width: 50px;
    height: 30px;
    position: absolute;
    top: 80px;
    right: 63px;
}

.board-remove {
    width: 50px;
    height: 30px;
    position: absolute;
    top: 80px;
    right: 10px;
}

/* TabButton */

.makeup-tab {
    width: 150px;
}

.gallery-tab {
    width: 150px;
}

.face-tab {
    width: 150px;
}