.full-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 990;
    margin: 0;

    display: flex;
    justify-content: space-around;

    .left-div {
        width: 300px;
        height: 100vh;
        text-align: center;

        .out {
            margin-top: 10px;
            margin-bottom: 80px;
            margin-left: 30px;
            width: 270px;
            height: 50px;
            font-size: 20px;
            text-align: left;
            color: gray;
    
            p {
                display: inline-block;
                margin-left: 10px;
            }   
        }

        .sample-img {
            width: 240px;
            height: 180px;
            margin-bottom: 30px;
        }

        .color-circle {
            display: inline-block;
            width: 100px;
            height: 100px;
            font-size: small;
            border-radius: 100px;
            background-color: yellow;
            color: yellow;
        }
    }
    
    .center-div {
        width: 700px;
        height: 100vh;
        align-items: center;

        .Facemesh {
            margin-top: 50px;
            position: relative;

            .webcam {
                border: 30px solid #F0F0F0;
                border-radius: 15px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            .canvas {
                position: absolute;
                top: 30px;
                left: 30px;
            }
        }
    }

    .right-div {
        width: 300px;
        height: 100vh;
    }

}