.banner-div {
  position: relative;
  background-color: white;
  margin-top: 50px;
  width: 100%;
  display: flex;
  // z-index: 10;
  justify-content: end;

  .consulting-make-div {
    position: absolute;
    top: 100px;
    left: 90px;

    width: 410px;
    height: 350px;
    // background-color: rgb(200, 200, 200);
    border-radius: 30px;
    // box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.5);

    .fake-border1 {
      position: absolute;
      top: -10px;
      left: -20px;
      border-top: 5px solid #fddddf;
      border-left: 5px solid #fddddf;
      border-top-left-radius: 50px;
      width: 100px;
      height: 100px;
    }
    .fake-border2 {
      position: absolute;
      top: 250px;
      left: 350px;
      border-bottom: 5px solid #fddddf;
      border-right: 5px solid #fddddf;
      border-bottom-right-radius: 50px;
      width: 100px;
      height: 100px;
    }
    h1 {
      display: inline-block;
      width: 400px;
      font-size: 33px;
      margin-top: 40px;
      margin-left: 30px;
      color: #ff86a9;
      text-shadow: 2px 2px #fddddf;
    }

    p {
      margin: 0;
      margin-left: 30px;
    }

    div {
      position: relative;
      width: 200px;
      height: 75px;
      svg {
          position: absolute;
          right: -8px;
          bottom: 0px;
          color: #ff86a9;
          cursor: pointer;
      }
  }
    img {
      position: absolute;
      top: 170px;
      left: 250px;
      
      width: 150px;
    }
  }

  #help-banner {
    width: 50vw;
    margin-bottom: 200px;
  }

}

.consulting-div {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;

  .back-shape3 {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 35%;
    z-index: 5;
  }
  .back-shape4 {
    position: absolute;
    top: 350px;
    left: 230px;
    width: 27%;
    z-index: 6;
  }
  .random-consulting {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 410px;
    height: 500px;
    z-index: 7;
    background-color: white;
    border-radius: 30px;
    box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.5);
    text-align: center;

    .consult-nickname {
      display: inline-block;
      width: 120px;
      height: 30px;
      line-height: 30px;
      border-radius: 30px;
      background-color: rgb(204, 210, 240);
      font-weight: 500;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    p {
      margin: 0;
      margin-bottom: 15px;
    }

    button {
      width: 200px;
      height: 45px;
      border-radius: 10px;
      border: none;
      font-size: 22px;
      font-weight: 600;
      background-color: rgb(47, 165, 153);
      color: white;
      cursor: pointer;
    }

    div { 
      width: 220px;
      height: 220px;
      margin: auto;
      background-color: #F5DE5E;
      border-radius: 200px;
      text-align: center;
      img {
        margin-top: 20px;
        width: 200px;
        border-radius: 100px;
      }  
    }
    .user-count {
      position: absolute;
      top: 90px;
      left: calc(50% - 110px);
      opacity: 0;
      width: 220px;
      height: 220px;
      line-height: 220px;
      border-radius: 200px;
      background-color: rgba(255, 255, 255, 0.7);
      font-size: 50px;
      font-family: 'Jalnan';

      &:hover {
        opacity: 1;
        transition: .5s ease-in-out;
      }
    }
  }
}

.consulting-list {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  // text-align: center;
  justify-content: start;
  padding-top: 50px;

  .logo {
    width: 100px;
    height: 100px;
  }

  h1 {
    width: 100%;
    position: relative;
    text-align: center;
    line-height: 500px;
    vertical-align: middle;
  
  }


  .consulting-list-child {
    // display: grid;
    // grid-template-columns: repeat(3, minmax(15vw, 15vw));
    // grid-template-columns: repeat(3, minmax(200, 200));
    margin-top: 30px;
  }

  .flip {
    display: inline-block;
    width: 210px;
    height: 200px;
    perspective: 1100px;
    margin: 5px;
    text-align: center;

  }

  .card {
    width: 100%; 
    height: 100%; 
    position: relative;
    transition: .4s;
    transform-style: preserve-3d;
    border-radius: 50px;
    box-shadow: 5px 5px #D3D3D3;
    border-left: 1px solid #D3D3D3;
    
    &:hover {
      box-shadow: none;
    }
  }	

  .front, .back {
    position: absolute;
    width: 100%; 
    height: 100%;
  }

    .front-top {
      height: 70%;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;

      img {
        width: 150;
        height: 140px;
        border-radius: 30px;
      }

    }

    .front-bottom {
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  .back {
    border-radius: 50px;
    backface-visibility: hidden;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &:hover {
      box-shadow: 0px 0px 10px gray;
    }

    .back-content {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 5px;
      margin-top: 5px;

      .back-content-index {
        margin-left: 20px;
      }

      .back-content-context {
        width: 115px;
        background-color: white;
        margin-left: 10px;
        padding-left: 5px;
        text-align: start;
      } 

    }

  }
}

// 뒷면은 사전에 미리 뒤집기
.back { 
  transform: rotateY(180deg);
}

// 호버 시 뒤집기
.flip:hover .card {
  transform: rotateY(-180deg);
}

// 컨설팅 방 생성하기 모달
.consult-create-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  height: 350px;
  
  background-color: white;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #bdbdbd;
  z-index: 990;

  .consult-create-header {
    width: 500px;
    height: 50px;
    background-color: #FFF5D1;
    text-align: center;
    display: flex;
    justify-content: center;

    h3 {
      margin: 0;
      width: 300px;
      line-height: 50px;
      font-family: 'Jalnan';
    }

    .xmark {
      margin: auto;
      color: rgb(68, 68, 68);
      font-size: x-large;
      cursor: pointer;
    }

    p {
      width: 100px;
    }
  }

  .consult-form {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;

    text-align: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
    

    label {
      display: inline-block;
      width: 60px;
      text-align: center;
      margin-right: 20px;
    }

    input {
      width: 300px;
      height: 30px;
    }

    textarea { 
      width: 300px;
      min-height: 120px;
    }
  }
}

// 대기창 모달
.loading-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  z-index: 991;

  width: 500px;
  height: 600px;
  text-align: center;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #bdbdbd;


  .loading-bigbtn {
    width: 180px;
    height: 70px;

    background: #FFC368;
    border-radius: 100px;
    border: none;

    font-family: 'Jalnan';
    font-weight: 600;
    color: white;
    font-size: xx-large;
    text-shadow: 1px 1px #bdbdbd;

    margin-top: 50px;
    margin-bottom: 10px;

    cursor: pointer;
  }

  h3 {
    display: inline-block;
    width: 400px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 0;
  }

  .loading-h3 {
    background-color: #FFE27C;
  }

  .loading-list {
    width: 394px;
    height: 300px;
    border: 3px solid #FFE27C;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    .each-user {
      width: 350px;
      margin: auto;

      .username {
        display: inline-block;
        width: 200px;
      }
      .onoff {
        display: inline-block;
        line-height: 25px;
        width: 50px;
        height: 25px;
        background-color: #D3D3D3;
        border-radius: 30px;
        box-shadow: 1px 1px rgb(187, 187, 187);

        color: white;
        font-weight: 600;
        text-shadow: 1px 1px gray;
      }
      .on-btn {
        background-color: #FFC368;
      }
    }
  }

  .back-icon {
    margin: auto;
    color:rgb(117, 117, 117);
    font-size: 25px;
    cursor: pointer;
  }
}

.guest {
  height: 250px;
  margin-bottom: 100px;

  .guest-bigbtn {
    margin-top: 0;
  }

  .battery{
    display: block;
    margin: auto;
    font-size: 60px;
  }

  .full {
    color: #02BC7D;
  }
  .less {
    color: #FC5C65;
  }

  p {
    margin-top: 10px;
    font-size: small;
    color: gray;
  }

}

.crawling-div {
  position: relative;
  width: 100%;
  height: 150vh;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .news-div, .blog-div {
    position: relative;
    width: 500px;
    height: 430px;
    background-color: rgb(253, 249, 240);
    border-radius: 70px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
    margin-left: 50px;
    margin-right: 50px;

    h1 {
      margin-top: 50px;
      margin-left: 60px;
      font-family: 'CookieRun';
    }

    h3 {
      margin: 0;
      margin-left: 50px;
      display: inline-block;
      width: 350px;
      font-size: 17px;
      font-weight: 600;
      word-break: keep-all;
    }

    .content-div {
      position: relative;
      .speech {
        width: 290px;
        height: 150px;
        margin-top: 30px;
        margin-left: 50px;
      }
      p {
        position: absolute;
        top: 40px;
        left: 80px;
        line-height: 25px;
        display: -webkit-box;
        width: 200px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        font-size: 15px;
      }
    }

    

    #person2 {
      position: absolute;
      width: 170px;
      right: 30px;
      bottom: 10px;
    }

    #person1 {
      position: absolute;
      height: 250px;
      right: -20px;
      bottom: 20px;
    }

    .href-btn-div {
      position: absolute;
      bottom: 25px;
      right: 50px;

      svg {
        position: absolute;
        right: 12px;
        bottom: 12px;
        color: rgb(35, 196, 177);
        cursor: pointer;
      }
    }
  }
  .shop-div {
    width: 1100px;
    height: 500px;
    text-align: center;

    h1 {
      font-family: 'CookieRun';
    }

    .shop-item {
      display: inline-block;
      width: 200px;
      height: 240px;
      text-align: center;
      vertical-align: middle;
      margin-left: 10px;
      margin-right: 10px;

      div {
        overflow: hidden;
        margin: auto;
        width: 160px;
        height: 160px;
        border-radius: 20px;
        box-shadow: 0 0 10px gainsboro;

        .shop-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
          transform: scale(1.0);
          transition: transform 0.5s;

          &:hover {
            transform: scale(1.2);
            transition: transform 0.5s;
          }
        }
      }


      p {
        display: inline-block;
        width: 180px;
        height: 30px;
        font-size: 14px;
        word-break: keep-all;
        margin-top: 5px;
      }
    }
  }

}