.banner-div {
  position: relative;
  background-color: white;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;

  button {
    width: 100px;
    height: 40px;
  }
  
  #help-banner {
    width: 70vw;

  }
}
.help-h2 {
  font-family: "Jalnan";
  font-size: 40px;
}

.consulting-div {
  position: relative;
  width: 100%;
  height: 100vh;

  .back-shape3 {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 35%;
    z-index: 5;
  }
  .back-shape4 {
    position: absolute;
    top: 350px;
    left: 200px;
    width: 25%;
    z-index: 6;
  }
  .random-consulting {
    position: absolute;
    top: 100px;
    left: 80px;
    width: 400px;
    height: 500px;
    z-index: 7;
    background-color: white;
    border-radius: 30px;
    box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.5);
  }
}

.consulting-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;


  .consulting-list-child {
    display: grid;
    grid-template-columns: repeat(4, minmax(20%, auto));
    grid-template-columns: repeat(4, minmax(200, auto));
  }

  .flip {
    display: inline-block;
    width: 250px;
    height: 200px;
    perspective: 1100px;
    margin: 0px 25px 30px 25px;

  }

  .card {
    width: 100%; 
    height: 100%; 
    position: relative;
    transition: .4s;
    transform-style: preserve-3d;
    border-radius: 50px;
    box-shadow: 5px 5px #D3D3D3;
    border-left: 1px solid #D3D3D3;
    
    &:hover {
      box-shadow: none;
    }
  }	

  .front, .back {
    position: absolute;
    width: 100%; 
    height: 100%;
  }

    .front-top {
      height: 70%;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;

      img {
        width: 150;
        height: 140px;
      }

    }

    .front-bottom {
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  .back {
    border-radius: 50px;
    backface-visibility: hidden;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &:hover {
      box-shadow: 0px 0px 10px gray;
    }

    .back-content {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 5px;
      margin-top: 5px;

      .back-content-index {
        margin-left: 20px;
      }

      .back-content-context {
        width: 160px;
        background-color: white;
        margin-left: 10px;
        padding-left: 5px;
        text-align: start;
      } 

    }

  }
}

// 뒷면은 사전에 미리 뒤집기
.back { 
  transform: rotateY(180deg);
}

// 호버 시 뒤집기
.flip:hover .card {
  transform: rotateY(-180deg);
}

// 컨설팅 방 생성하기 모달
.consult-create-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  height: 350px;
  
  background-color: white;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #bdbdbd;
  z-index: 990;

  .consult-create-header {
    width: 500px;
    height: 50px;
    background-color: #FFF5D1;
    text-align: center;
    display: flex;
    justify-content: center;

    h3 {
      margin: 0;
      width: 300px;
      line-height: 50px;
      font-family: 'Jalnan';
    }

    .xmark {
      margin: auto;
      color: rgb(68, 68, 68);
      font-size: x-large;
      cursor: pointer;
    }

    p {
      width: 100px;
    }
  }

  .consult-form {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;

    text-align: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
    

    label {
      display: inline-block;
      width: 50px;
      text-align: center;
      margin-right: 20px;
    }

    input {
      width: 300px;
      height: 30px;
    }

    textarea { 
      width: 300px;
      min-height: 120px;
    }
  }
}

// 대기창 모달
.loading-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  z-index: 991;

  width: 500px;
  height: 600px;
  text-align: center;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #bdbdbd;


  .loading-bigbtn {
    width: 180px;
    height: 70px;

    background: #FFC368;
    border-radius: 100px;
    border: none;

    font-family: 'Jalnan';
    font-weight: 600;
    color: white;
    font-size: xx-large;
    text-shadow: 1px 1px #bdbdbd;

    margin-top: 50px;
    margin-bottom: 10px;

    cursor: pointer;
  }

  h3 {
    display: inline-block;
    width: 400px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 0;
  }

  .loading-h3 {
    background-color: #FFE27C;
  }

  .loading-list {
    width: 394px;
    height: 300px;
    border: 3px solid #FFE27C;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    .each-user {
      width: 350px;
      margin: auto;

      .username {
        display: inline-block;
        width: 200px;
      }
      .onoff {
        display: inline-block;
        line-height: 25px;
        width: 50px;
        height: 25px;
        background-color: #D3D3D3;
        border-radius: 30px;
        box-shadow: 1px 1px rgb(187, 187, 187);

        color: white;
        font-weight: 600;
        text-shadow: 1px 1px gray;
      }
      .on-btn {
        background-color: #FFC368;
      }
    }
  }

  .back-icon {
    margin: auto;
    color:rgb(117, 117, 117);
    font-size: 25px;
    cursor: pointer;
  }
}

.guest {
  height: 250px;
  margin-bottom: 100px;

  .guest-bigbtn {
    margin-top: 0;
  }

  .battery{
    display: block;
    margin: auto;
    font-size: 60px;
  }

  .full {
    color: #02BC7D;
  }
  .less {
    color: #FC5C65;
  }

  p {
    margin-top: 10px;
    font-size: small;
    color: gray;
  }

}