.black-out {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(70, 70, 70, 0.5);
    z-index: 997;
}