[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
tensorflow = "*"
pillow = "*"
numpy = "*"
opencv-python = "*"
keras = "*"
flask_sslify = "*"

[requires]
python_version = "3.8"
