.footer {
    width: 100%;
    height: 150px;
    margin: 0;

    text-align: center;
    font-weight: 400;
    font-size: medium;
    color: #444444;
    border-top: 1px solid rgb(220, 220, 220);
    // background-color: yellowgreen;

    padding-top: 20px;
    padding-bottom: 20px;

    p {
        display: inline-block;
        width: 100%;
        padding-top: 10px;
        margin: 0;
    }

}