.footer {
    width: 100%;
    height: 50px;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: medium;
    color: #444444;
    // background-color: yellowgreen;

    p {
        display: inline-block;
        width: 70%;
        border-top: 1px solid rgb(220, 220, 220);
        padding-top: 10px;
        margin: 0;
    }
}