.normal-btn {
    display: inline-block;
    width: 200px;
    height: 35px;
    background-color: white;
    border-radius: 30px;
    border: none;
    box-shadow: 3px 3px 0px 0px rgb(170, 170, 170);

    // font-family: "Jalnan";
    color:rgb(66, 66, 66);
    font-weight: 800;
    font-size: 15px;

    cursor: pointer;

    border: 2px solid #FFF5D1;
    box-shadow: 3px 3px 0px 0px #FFF5D1;
    color: #ffd952;

    // &:active {
    //     background-color: #FFF5D1;
    //     color: white;
    // }
}

.board-btn {
    border: 2px solid #FFDF38;
    box-shadow: 3px 3px 0px 0px #FFDF38;
    color: #FFDF38;
    width: 100px;
}

.single-create-btn {
    border: 2px solid #23C4B1;
    box-shadow: 3px 3px 0px 0px #23C4B1;
    color: #23C4B1;
    margin-top: 30px;
    text-align: left;
    padding-left: 20px;
}

.recommend-btn {
    border: 2px solid #4D8AF0;
    box-shadow: 3px 3px 0px 0px #4D8AF0;
    color: #4D8AF0;
    text-align: left;
    padding-left: 30px;
}

.start-btn {
    border: 2px solid #FFDF38;
    box-shadow: 3px 3px 0px 0px #FFDF38;
    color: #FFDF38;
}

.finish-btn  {
    border: 2px solid #F89B9B;
    box-shadow: 3px 3px 0px 0px #F89B9B;
    color: #F89B9B;
}

.alert-btn {
    border: 2px solid #DD4470;
    box-shadow: 3px 3px 0px 0px #DD4470;
    color: #DD4470;
}

.color-btn {
    border: 2px solid #ff86a9;
    box-shadow: 3px 3px 0px 0px #ff86a9;
    color: #ff86a9;
    margin-top: 30px;
    margin-left: 30px;
    width: 190px;
}

.href-btn {
    border: 2px solid rgb(35, 196, 177);
    box-shadow: 3px 3px 0px 0px rgb(35, 196, 177);
    color: rgb(35, 196, 177);
    height: 40px;
    width: 220px;
    font-size: 16px;
}

.tab-btn {
    display: inline-block;
    width: 5.5rem;
    height: 2rem;
    border: none;
    // background-color: #CECECE;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgb(170, 170, 170);
    margin-right: 5px;
    // font-family: "Jalnan";
    color:rgb(66, 66, 66);
    font-weight: 800;
    font-size: 0.9rem;

    cursor: pointer;
}

.selected {
    background-color: #FFF8BC;
    // border-color: #FFEA20;
}

.btn-test {
    background-color: #D0E9E9;
}

.rating-btn {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
}

.board-update {
    width: 50px;
    height: 30px;
    position: absolute;
    top: 80px;
    right: 63px;
}

.board-remove {
    width: 50px;
    height: 30px;
    position: absolute;
    top: 80px;
    right: 10px;
}

/* TabButton */

.makeup-tab {
    width: 150px;
}

.gallery-tab {
    width: 150px;
}

.face-tab {
    width: 150px;
}

/* together-btn */
.together-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}