.container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 70%;
  /* display: flex; */
  /* justify-content: center; */

  /* 컨테이너 중앙 정렬 */
  margin-left: auto;
  margin-right: auto;
}

.container-colored {
  background-color: rgb(255, 252, 233, 0.8);
}

input, textarea {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  background-color: #F1F1F1;
  padding-left: 10px;
  padding-right: 10px;
}

textarea { 
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
}

h1 {
  font-family: 'Jalnan';
}
