.container {
  width: 70%;
  /* display: flex; */
  /* justify-content: center; */

  /* 컨테이너 중앙 정렬 */
  margin-left: auto;
  margin-right: auto;
}

input, textarea {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Jalnan';
}