// .header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;

//     z-index: 989;
    
//     width: 100%;
//     height: 55px;
//     display: flex;
//     // flex-direction: column;
//     justify-content: center;
//     // align-items: center;

//     background-color: white;

//     box-shadow: 0px 0px 1px 0px gray;

//     .header-content {
//         position:absolute;
//         top: 0px;
//         width: 80%;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;

//         .header-logo {
//             position: absolute;
//             top: 5px;
//             left: 0px;
//             width: 40px;
//             height: 40px;
//             cursor: pointer;
//         }
//         .logo-name {
//             font-family: 'Jalnan';
//             margin-left: 45px;
//         }

//         div {
//             width: 20%;
//             position: relative;

//             p, h3 {
//                 display: inline-block;
//                 line-height: 50px;
//                 margin: 0;
//                 cursor: pointer;

//             }
//         }

//         .header-nav {
//             width: 50%;
//             text-align: center;

//             p {
//                 width: 20%;

//                 &:hover {
//                     color: black;
//                     font-weight: 600;
//                     border-bottom: 2px solid gray;
//                 }
                
//             }

//         }
//         .header-auth {
//             text-align: right;
//             top: -50px;

//             p {
//                 font-weight: 200;
//                 font-size: small;
//             }
//         }

//     }
//     &:hover {
//         // background-color: #E6E99D;
//         // background-color: #DAE2B6;
//         // background-color: #F0DBDB;
//         // background-color: #CCD6A6;
//         // color: #FFFBE9;
//     }
// }

// .user-icon {
//     margin-right: 10px;
// }

.header {
    position: fixed;
    z-index: 989;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 12px;
    box-shadow: 0px 0px 1px 0px gray;

}
.header-logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
    
    }
.header-name {
    display: flex;
    font-family: 'Jalnan';
    cursor: pointer;
    padding-left: 5px;
    // margin-left: 45px;
    h3 {
        margin-top: 10px;
        margin-left: 10px; 
     }
    }
.header-menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    li {
        padding: 5px 30px;
        cursor: pointer;
        &:hover {
            color: black;
            font-weight: 600;
            border-bottom: 2px solid gray;
        }
    }
}
.header-auth {
    display: flex;
    list-style: none;
    padding-left: 0;
    li{
        padding: 5px 20px;
        cursor: pointer;
    }
}
.header-toggle {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}
@media screen and (max-width: 768px){
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .header-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        li {
            width: 100%;
            text-align: center;
        }
        }

    .header-auth {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .header-toggle {
        display: block;
    }

}