.exit-modal {
    width: 400px;
    border: 1px solid gray;
    // display: flex;
    // justify-content: center;
    text-align: center;
    padding-bottom: 20px;

    div {
        // display: flex;

        .exit-title {
            
        }

        icon {
            align-items: right;
        }
    }

}