
.profile-container {
  width: 1000px;
  height: 300px;
}
  .imgbox {
    width: 150px;
    height: 150px; 
    position: relative;
    margin-right: 12px;
  }
    .img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  .profile-name {
    position: absolute;
    top: 130px;
    left: 360px;
    width: 800px;
    margin: 0;
  }
    h2 {
      font-size: 18px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      color: rgba(34,34,34,.5);
    }
.hr {
  position: absolute;
  width: 1000px;
  left: 220px;
  top: 350px;
  border: solid;
  color :rgb(170, 170, 170)
}
.NavButton {
  
  background-color: #CECECE;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgb(170, 170, 170);
  display: inline-block;
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

.clickButton {
  display: inline-block;
  background-color: #FFF8BC;;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgb(170, 170, 170);
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  border-radius: 10px;
}
.profile-tab {
  display: inline-block;
}

.linkButton {
  display: inline-block;
  text-decoration: none;
  color: black;
  }

  // display: inline-block;
  // width: 5.5rem;
  // height: 2rem;
  // border: none;
  // background-color: #CECECE;
  // border-radius: 5px;
  // box-shadow: 0px 0px 3px 0px rgb(170, 170, 170);
  // margin-right: 5px;
  // // font-family: "Jalnan";
  // color:rgb(66, 66, 66);
  // font-weight: 800;
  // font-size: 0.9rem;

  // cursor: pointer;