/* ProfilePage.jsx */
.ProfilePage {

  display: flex;
  margin-bottom: 30px;

  /* MyProfile.jsx */
  .MyProfile {
    width: 30%;
  
    .profile-img-div{
  
      .profile-img {
        width: 200px;
        height: 200px;
      }
  
    }
  
    .profile-nickname {
  
    }
  
    .profile-content {
      border: 1px solid gray;
      width: 80%;
      height: 100px;
    }
  }

  /* MyRanking.jsx */
  .MyRanking {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

}