/* ProfilePage.jsx */
.ProfilePage {

  display: flex;
  margin-bottom: 30px;

  /* MyProfile.jsx */
  .MyProfile {
    width: 50%;
    border-right: 2px dotted gray;
    text-align: center;

    .profile-nickname { 
      display: inline-block;
      width: 100%;
      margin-top: 50px;
      text-align: center;
      h2 {
        margin: 0;
      }
    }
  
    .profile-img-div{
      margin-top: 10px;
      text-align: center;
  
      img {
        width: 200px;
        height: 200px;
      }
    }
  
    .profile-content {
      width: 80%;
      margin: auto;
      height: 80px;
      p {
        margin: 0;
      }
    }
    
    .nickname-update {
      margin-top: 50px;
      width: 100%;
        input {
          width: 60%;
          height: 33px;
        }
    }
    textarea {
      width: calc(80% - 20px);
      height: 60px;
      margin: auto;
    }

    .profile-btn {
      display: inline-block;
      width: 80%;
      height: 30px;
      margin: auto;
    }
  }


  /* MyRanking.jsx */
  .MyRanking {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.profile-tab {
  height: 40px;
  width: 33%;
  background-color: #FFF5D1;
  border: none;
  font-weight: 600;
  font-size: 15px;
}

.tab-selected {
  height: 42px;
  color: rgb(75, 166, 150);
  border-bottom: 4px solid rgb(75, 166, 150);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user-face {
  position: relative;

  background-color: white;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #bdbdbd;

  text-align: center;
  padding-bottom: 20px;

  z-index: 990;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


  #main_capture {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 100%;
    .webcam {
      width: 100%;
    }
  }

  #faceCircle {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 991;
    width: 60%;
    max-width: 420px;
  }

  .camera-img {
    width: 80px;
    height: 80px;
    margin: 30px;
  }
}