.single-main {
    background-color: rgb(255, 235, 235);
    margin-top: 50px;
    

    .best-text{
        position: absolute;
        display: inline-block;
        width: 100%;
        text-align: center;
        z-index: 9;
        font-size: 400px;
        margin: auto;
        color: white;
        font-family: 'Abril Fatface', cursive;
    }

    .hide-div {
        position: absolute;
        top: 600px;
        width: 100%;
        height: 50px;
        z-index: 9;
        background-color: rgb(255, 235, 235);
    }

    .single-h2 {
        padding-left: 4%;
        display: inline-block;
        width: 150px;
        margin: 0;
    }
    
    .single-hr {
        width: 140px;
        height: 2px;
        background-color: #444444;
        border-radius: 10px;
        text-align: left;
        margin-left: 4%;
        margin-bottom: 30px;
    }
}

.alice-carousel {
    z-index: 10;
}

.capture-div {
    text-align: center;
    
    .capture-h1 {
        margin-top: 30px;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .main-capture {
        width: 700px;
        height: 540px;
        position: relative;
    }

    .download-btn {
        width: 200px;
        height: 50px;
        margin-top: 20px;
        background: #FFF5D1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        border: none;
        font-family: 'Jalnan';
        font-size: large;
        color: #2c2c2c;
    }
    
    .webcam-result {
        margin-top: 0px;
        position: absolute;
        top: 0;
        z-index: 10;

        width: 640px;
        height: 480px;

        border: 30px solid #F0F0F0;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .captured-img {
        position: absolute;
        top: 0;      
        left: 0px;  
        width: 100%;
        height: 100%;
        z-index: 11;
        animation: fadeout 1s;
        animation-fill-mode: forwards;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    } 
    to {
        opacity: 0;
    }
}

// 따라해덕 진행 화면
.full-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 990;
    margin: 0;

    display: flex;
    justify-content: space-around;

    .left-div {
        width: calc((100% - 700px) / 2);
        height: 100vh;
        text-align: center;

        .out {
            margin-top: 10px;
            margin-bottom: 25px;
            margin-left: 30px;
            width: 270px;
            height: 80px;
            font-size: 20px;
            text-align: left;
            color: gray;
            cursor: pointer;
    
            p {
                display: inline-block;
                margin-left: 10px;
            }   
        }

        .color-code-div {
            width: 280px;
            height: 100px;
            border: 3px solid rgb(222, 222, 222);
            margin-left: 30px;
            margin-top: 10px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            display: flex;

            .color-rectangle {
                width: 220px;
                height: 100px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                
            }

            p {
                display: inline-block;
                width: 60px;
                height: 100px;
                padding-top: 25px;
                margin: 0;
                word-break: keep-all;
                color: rgb(125, 125, 125);
            }
        }

        .makeup-sequence {
            width: 250px;
            height: 400px;
            position: relative;
            padding-top: 45px;

            .sub-step-content {
                position: relative;
                width: 230px;
                height: 170px;
                margin-left: 30px;

                padding-top: 160px;
                padding-bottom: 50px;
                padding-left: 20px;
                padding-right: 20px;

                text-align: left;

                border: 10px solid rgb(231, 229, 229);
                border-style: double;
                border-radius: 30px;

                background-color: #FFF5D1;

                .sub-ing-img{
                    width: 100px;
                    height: 120px;
                    position: absolute;
                    top: 10px;
                    left: calc(50% - 50px);
                }
            }
        }
    }
    
    .center-div {
        position: relative;
        width: 700px;
        height: 100vh;
        align-items: center;

        .Facemesh {
            position: relative;

            .webcam {
                width: 640px;
                height: 480px;
                border: 30px solid #F0F0F0;
                border-radius: 15px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            .canvas {
                position: absolute;
                top: 30px;
                left: 30px;
            }
        }
        .guide-btn {
            position: absolute;
            left: calc(50% - 80px);
            top: 700px;
            width: 160px;
            height: 30px;
            font-family: 'Jalnan';
            font-size: 15px;

            &:hover {
                font-size: 17px;
                width: 166px;
                height: 32px;
                left: calc(50% - 83px);
            }
        }

        .main-img-div {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 15px;
            

            .main-ing-img {
                width: 80px;
                height: 80px;
                opacity: 0.5;
                // box-shadow: 0 0 3px #838383;
                // border-radius: 15px;
            }

            .selected {
                opacity: 1;
            }
    
            .next-makeup-icon {
                width: 15px;
                height: 80px;
                margin-left: 5px;
                margin-right: 5px;
                color: gray;
                margin-top: auto;
                margin-bottom: auto;
            }
        }

        .center-cam {
            position: relative;
            width: 100%;
            height: 600px;

            .move {
                position: absolute;
                top: calc(50% - 100px);
                font-size: 100px;
                color: rgb(188, 188, 188);
                cursor: pointer;
                z-index: 998;
            }
            .move-left {
                left: -80px;
            }
        
            .move-right {
                right: -80px
            }
        }

        
            .progress-bar {
                position: relative;
                display: flex;
                justify-content: space-between;
                width: 620px;
                height: 20px;
                margin-left: 30px;
                margin-bottom: 10px;

                .progress-hr {
                    position: absolute;
                    left: 3px;
                    height: 4px;
                    width: 614px;
                    background-color:rgb(210, 210, 210);
                    border: none;
                    transition: width ease 1s 0s;
                }
    
                .progress-inside {
                    display: inline-block;
                    position: relative;
                    width: 18px;
                    height: 18px;
                    border-radius: 100px;
                    background-color: white;
                    color: rgb(210, 210, 210);
                    box-shadow: 0 0 7px rgb(210, 210, 210);
                    margin-left: 2px;
                    margin-right: 2px;
                    margin-top: auto;
                    margin-bottom: auto;
    
                }
                .already {
                    background-color: #FFE27C;
                    transition-delay: 1s;
                }
        }

        // }
    }

    .right-div {
        // position: relative;
        width: calc((100% - 700px) / 2);
        height: 100vh;
        padding-top: 120px;

        .right-detail {
            width: 100%;
            height: 250px;
            position: relative;
            text-align: center;
            padding: 10px;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;

            .textBack {
                width: 120px;
            }

            p {
                display: inline-block;
                width: 50px;
                margin: 0;
                position: absolute;
                top: 14px;
                left: calc(50% - 25px);
            }
            
            .thumbnail {
                width: 200px;
                height: 200px;
                object-fit: cover;
                padding-bottom: 50px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 150px;
            }
            .guide-img {
                max-width: 200px;
                max-height: 200px;
                border-radius: 20px;
            }
        }

        .finish-btn {
            position: absolute;
            top: 700px;
            right: 150px;

            width: 150px;
            height: 45px;

            font-family: 'Jalnan';
            font-size: 18px;

            border: none;
            border-radius: 10px;
            box-shadow: 0 0 5px rgb(210, 210, 210);

            cursor: pointer;
            
            &:hover {
                background-color: #FFE27C;
            }
        }
    }

}

// 메인 하단
.makeup-special {
    position: relative;
    width: 100%;
    height: 900px;
    background-color: #FFF5D1;

    .makeup-special-section1 {
        position: relative;
        height: 500px;
        display: flex;
        align-items: center;

        h1 {
            display: inline-block;
            margin: 0;
            width: 60%;
            text-align: center;
            font-size: 40px;
            letter-spacing: 0.2rem;
        }

        .section1-create{
            margin-left: 10%;
            display: flex;
            flex-direction: column;

            
            h2 {
                display: inline-block;
                max-width: 400px;
                font-size: 30px;
            }
            p {
                display: inline-block;
                max-width: 400px;
                font-size: 18px;
                margin: 0;
            }

            div {
                position: relative;
                width: 200px;
                height: 75px;
                svg {
                    position: absolute;
                    right: 10px;
                    bottom: 20px;
                    color: #23C4B1;
                    cursor: pointer;
                }
            }
        }

        .section1-ai {
            position: absolute;
            top: 170px;
            right: 80px;
            z-index: 100;
            width: 500px;
            height: 550px;
            background-color: white;
            border-radius: 100px;
            box-shadow: 8px 8px 5px rgba(210, 210, 210, 0.8);
            padding-left: 50px;
            padding-right: 30px;

            h1 {
                width: 430px;
                word-break: keep-all;
                text-align: left;
                margin-top: 80px;
                margin-bottom: 30px;
            }
            p {
                margin: 0;
            }
            
            .section1-bottom {
                display: flex;
                margin-top: 40px;

                div {
                    position: relative;
                    width: 200px;
                    height: 35px;
                    svg {
                        position: absolute;
                        right: 15px;
                        bottom: 10px;
                        color: #4D8AF0;
                        cursor: pointer;
                    }
                }
                img { 
                    width: 300px;
                }
            }
        }

        #backShape1 {
            position: absolute;
            top: -50px;
            left: 40%;
            width: 600px;
            z-index: 1;
        }
        
        #backShape2 {
            position: absolute;
            top: 200px;
            left: 38%;
            width:700px;
            z-index: 0;
        }
    }

    .makeup-special-section2 {
        position: absolute;
        top: 450px;
        width: 40vw;
        min-width: 500px;
        height: 450px;

        background-color: #fbe9a7;
        border-top-right-radius: 100px;

        .random-header {
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left:20px;
        }

        .random-h1 {
            display: inline-block;
            width: 350px;
            height: 100px;
            padding-top: 25px;
            padding-bottom: 25px;
            h1 {
                display: inline-block;
                text-align: center;
                margin: 0;
                line-height: 50px;
                color:rgb(52, 52, 52);
                // text-shadow: 3px 3px #fcd750;
            }
            .random-h1-one {
                font-size: 37px;
            }
            .random-h1-two {
                margin-left: 50px;
            }
        }
        .miniDuck {
            width: 150px;
            display: inline-block;
        }
    }
}   
