.modeList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 10px;
}

.makeup-div {
    width: 200px;
    display: inline-block;
    margin: auto;

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border: 3px solid #F0F0F0;
        border-radius: 10px;
    }
    
    p {
        display: inline-block;
        width: 200px;
        margin:0;
        text-align: center;
        color: #CD5E5E;
    }

    .star-info {
        display: inline-block;
        width: 200px;
        text-align: center;

        p {
            display: inline;
            margin-left: 5px;
            font-size: 13px;
            color: gray;
        }
        .star-icon {
            color: #FFDF38;
            font-size: 13px;
        }
    }
}

//-------- 새 메이크업 만들기 --------

.makeup-make {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(255, 252, 233);
    background-color: #ffefa0;
    z-index: 993;

    width: 1000px;
    height: 600px;

    text-align: center;

    border: 2px solid rgb(220, 220, 220);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #bdbdbd;

    h2 {
        margin: 0;
        margin-top: 30px;
        width: 1000px;
        line-height: 50px;
        font-family: 'Jalnan';
        font-size: 30px;
    }

    p {
        width: 1000px;
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 15px;
        color: gray;
      }

    .xmark {
        position: absolute;
        top: 15px;
        right: 30px;
        margin: auto;
        color: rgb(68, 68, 68);
        font-size: x-large;
      }

}

.makeup-first {
    display: flex;
    justify-content: center;
    .logo-img {
        width: 350px;
        height: 350px;
    }
}

.makeup-form-first {
    width: 450px;
    height: 400px;
    // background-color: rgb(255, 252, 233);
    // margin: auto;
    position: relative;

    // border: 3px solid rgba(225, 225, 225, 0.3);
    border-radius: 20px;
    box-shadow: 0 0 5px #d3d3d3;
    background-color: white;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

    align-items: center;
    text-align: center;

    .makeup-element {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;

        .makeup-label {
            display: inline-block;
            width: 100px;
            text-align: center;
            margin-right: 20px;
            font-size: 18px;
            color: #717171;
            font-family: 'Jalnan';
        }

        input, textarea {
            // background-color: rgb(255, 252, 233);
            background-color: white;
            box-shadow: 0 0 5px rgb(230, 230, 230);
        }
    
        .makeup-input {
            width: 300px;
            height: 50px;
        }

        .input-content { 
            height: 100px;
        }
  
        .main-img {
            width: 300px;
        }
          
        .makeup-time {
            width: 260px;
            height: 40px;
        }
  
        p {
            color: #a2a2a2;
            margin: 0;
            width: 20px;
            margin-left: 20px;
        }
    }

    input[type=file] {
        background-color: white;
        padding-left: 0px;
        padding-right: 20px;
        width: 270px;
        height: 40px;
      }
      
      input[type=file]::file-selector-button {
        width: 100px;
        height: 40px;
        // background: #fff;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background: rgb(130, 130, 130);
            color: #fff;
        }
      }
}

.makeup-bottom-btn {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 30px;
    margin-top: 15px;
}

.makeup-form-second {
    width: 800px;
    height: 400px;
    // background-color: rgb(255, 252, 233);
    margin: auto;
    position: relative;

    // border: 3px solid rgba(225, 225, 225, 0.3);
    border-radius: 20px;
    box-shadow: 0 0 5px #d3d3d3;
    background-color: white;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

    align-items: center;
    text-align: center;

    // 대분류 그림
    .main-div {
      height: 120px;
      padding-top: auto;
      padding-bottom: auto;

      margin-top: 10px;

      .main-img {
        display: inline-block;
        
        width: 100px;
        height: 100px;

        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;

        opacity: 0.7;

        &:hover {
            opacity: 0.9;
        }
      }
      .main-img_selected {
        display: inline-block;
        width: 120px;
        height: 120px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
        margin-right: 5px;

        opacity: 1;
      }
      .next-makeup-icon {
        width: 15px;
        height: 120px;
        color: gray;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .sub-div {
      display: flex;
      justify-content: center;

      width: 100%;
      height: 200px;
      margin-top: 20px;
      margin-bottom: 0px;

        #sub-sequence {
          width: 450px;
          height: 180px;

          display: inline-block;

          margin: auto;

        //   border: 8px solid rgb(228, 228, 228);
        //   border: 8px solid #ffefa0;
          border: 8px solid #fff5c6;
          border-radius: 20px;
          box-shadow: 0 0 5px rgb(190, 190, 190);

          text-align: left;

          padding-left: 20px;
          padding-right: 20px;

          .sub-list {
            height: 188px;
            line-height: 140px;
            overflow-x: scroll;
            display: flex;
            justify-content: left;

            }
            .sub-list::-webkit-scrollbar {
                height: 8px;
            }
            
            .sub-list::-webkit-scrollbar-thumb {
                // background-color: rgb(145, 145, 145);
                background-color: #FFDF38;
                background-clip: padding-box;
                border: 1px solid transparent;
                border-radius: 10px;
            }

            .sub-list::-webkit-scrollbar-track {
                // background-color: rgb(228, 228, 228);
                background-color: #fff5c6;
                // box-shadow: inset 0px 0px 5px white;
                border-radius: 10px;
            }

            .sub-img {
                width: 110px;
                height: 130px;
                margin-top: auto;
                margin-bottom: auto;
                vertical-align: middle;
            }
            }

        .sub-form {
            display: inline-block;

            width: 240px;
            height: 196px;
            // background-color: #e4e4e4;
            background-color: #fff5c6;
            border-radius: 10px;
            box-shadow: 0 0 5px rgb(190, 190, 190);

          button {
            width: 50%;
            margin-top: 5px;
            height: 30px;
            border: none;
            background-color: #FFDF38;
            box-shadow: 0 0 1px rgb(142, 142, 142);
            font-size: 15px;
            font-family: 'Jalnan';
            cursor: pointer;
          }

          .ok-btn {
            width: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          .update-btn {
            border-bottom-left-radius: 10px;
            background-color: #FFDF38;
          }
          .remove-btn {
            border-bottom-right-radius: 10px;
            background-color: #b1b1b1;
          }

          .color-selector {
            width: 25px;
            height: 25px;
            margin-right: 5px;
          }
      
          .sub-div-first {
              width: 220px;
              margin-left: 10px;
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              position: relative;
          }

          .selected-color {
              width: 20px;
              height: 20px;
              margin-right: 5px;
              vertical-align: baseline;
          }
      
          select {
            height: 35px;
            width: 130px;
            font-size: 14px;
            background-color: white;
          }
      
          .add-sub-text {
              width: 200px;
              height: 46px;
              margin-top: 5px;
              background-color: white;
              font-size: 12px;
          }

          input[type=file] {
            // background-color: #e4e4e4;
            background-color: #fff5c6;
            padding-left: 0;
            width: 200px;
            height: 35px;
            font-size: 12px;
            margin-bottom: 5px;
          }
          
          input[type=file]::file-selector-button {
            width: 80px;
            height: 35px;
            font-size: 13px;
            background-color: white;
            // border: 1px solid rgb(216, 216, 216);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                // background: rgb(130, 130, 130);
                // color: #fff;
                background: #ffefa0;
                color: rgb(76, 76, 76);
            }
          }
          
      }
    }

}




//-------- 최종 설문 모달 ---------

.survey-modal {
    position: relative;
    width: 400px;
    height: 200px;

    text-align: center;
    align-items: center;
    
    border: 2px solid rgb(220, 220, 220);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #bdbdbd;

    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;


    h2 {
        margin: 0;
        padding: 0;
        width: 400px;
        line-height: 50px;
        font-family: 'Jalnan';
        text-align: center;
    }

    hr {
        margin: auto;
        width: 300px;
        background-color: rgb(185, 185, 185);
    }


    .star-icon {
        color: #FFC107;
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


//-------- 디테일 모달 ------------

.makeup-detail {
    position: absolute;
    // top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 998;

    background-color: white;
    width: 440px;
    height: 330px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

    border: 2px solid rgb(220, 220, 220);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #bdbdbd;

    text-align: center;

    .makeup-detail-top {
        display: flex;
        justify-content: center;

        margin-bottom: 20px;

        .makeup-detail-left {
            width: 240px;
            height: 200px;
            text-align: center;
    
            h3 {
                font-family: 'Jalnan';
                font-size: 1.5rem;
                word-break: keep-all;
        
                margin-bottom: 10px;
                letter-spacing: 0.1rem;
        
                // color: #AFB3B6;
                color: #FFDF38;
                text-shadow: 1px 1px 4px rgb(0, 0, 0);
                // -webkit-text-stroke: 1px #FFDF38;
                // -webkit-text-stroke: 1px #FFDF38;
    
                // text-shadow: 3px 3px #2D63A7;
                // text-decoration:underline;
                // text-decoration-style: wavy;
                margin-bottom: 10px;
            }
    
            p {
                color: black;
            }
    
            .makeup-content {
                color: gray;
                font-size: 0.8rem;
                word-break: keep-all;
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }
    
        .makeup-detail-right {
            height: 200px;
            width: 200px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                width: 180px;
                height: 180px;
            }
        }
    }



    .select-course {
        text-align: center;

        button {
            border-radius: 20px;
            border: none;
            width: 70px;
            height: 25px;
            margin-left: 5px;
            margin-right: 5px;

            font-size: small;
            font-weight: 600;

            background-color: rgba(175, 179, 182, 0.5);
        }

        .selected {
            // background-color: rgba(175, 179, 182, 0.5);
            background-color: rgba(255, 223, 56, 0.5);

        }
    }

    .describe-text {
        font-size: 12px;
        font-weight: 400;
        color: #AFB3B6;
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
    }

}  

// ---------- 추천 모달 -----------
.recommend-modal {
    position: absolute;
    // top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 998;

    background-color: white;
    width: 580px;
    height: 330px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

    border: 2px solid rgb(220, 220, 220);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #bdbdbd;

    text-align: center;

    .recommend-xmark {
        position: absolute;
        top: 10px;
        right: 20px;
        margin: auto;
        color: rgb(68, 68, 68);
        font-size: x-large;
        cursor: pointer;
    }

    h3 {
        margin-bottom: 30px;
    }

    .swiper-wrapper {
        width: 100%; 
        height: 230px;
        display: flex;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    .swiper-pagination-bullet { 
        width: 12px; 
        height: 12px; 
        background: transparent; 
        border: 1px solid pink; 
        opacity: 1; 
    }

    .swiper-pagination-bullet-active { 
        width: 40px; 
        transition: width .5s; 
        border-radius: 5px; 
        background: pink; 
        border: 1px solid transparent; 
    }

    .recommended-makeup-div {
        height: 150px;
        width: 140px;
        text-align: center;
        align-items: center;

        img {
            width: 140px;
            height: 140px;
            object-fit: cover;
        }

        p {
            font-size: 15px;
            margin: 0;
        }
    }
}

//--------- 메이크업 순서 ---------

.makeup-sequence {
    width: 300px;
    height: 80vh;
    background-color: #CD5E5E;
}