.modeList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 10px;
}

.makeup-div {
    width: 200px;
    display: inline-block;
    margin: auto;

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border: 3px solid #F0F0F0;
        border-radius: 10px;
    }
    
    p {
        display: inline-block;
        width: 200px;
        margin:0;
        text-align: center;
        color: #CD5E5E;
    }

    .star-info {
        display: inline-block;
        width: 200px;
        text-align: center;

        p {
            display: inline;
            margin-left: 5px;
            font-size: 13px;
            color: gray;
        }
        .star-icon {
            color: #FFDF38;
            font-size: 13px;
        }
    }
}


.makeup-create-modal {
    position: relative;
    width: 500px;
    height: 600px;
    
    border: 2px solid rgb(220, 220, 220);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #bdbdbd;

    .modal-header {
        width: 500px;
        height: 50px;
        background-color: #FFF5D1;
        text-align: center;
        display: flex;
        justify-content: center;
    
        h3 {
          margin: 0;
          width: 400px;
          line-height: 50px;
          font-family: 'Jalnan';
        }
    
        .xmark {
          margin: auto;
          color: rgb(68, 68, 68);
          font-size: x-large;
        }

        p {
            width: 50px;
          }
    }

    .makeup-form {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
        margin-right: 50px;
        
        div {
            display: flex;
            justify-content: center;
            margin-top: 5px;
            margin-bottom: 5px;
            align-items: center;

        }
        label {
          display: inline-block;
          width: 80px;
          text-align: center;
          margin-right: 20px;
          
        }
    
        input {
          width: 270px;
          height: 30px;
        }
    
        .input-content { 
          height: 100px;
        }
        
        .input-time {
            width: 240px;
        }

        p {
            // font-size: small;
            color: #a2a2a2;
            margin: 0;
            width: 20px;
            margin-left: 10px;
        }

        .normal-btn{
          margin: auto;
        };
      }
}


.survey-modal {
    position: relative;
    width: 400px;
    height: 200px;

    text-align: center;
    align-items: center;
    
    border: 2px solid rgb(220, 220, 220);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #bdbdbd;

    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;


    h2 {
        margin: 0;
        padding: 0;
        width: 400px;
        line-height: 50px;
        font-family: 'Jalnan';
        text-align: center;
    }

    hr {
        margin: auto;
        width: 300px;
        background-color: rgb(185, 185, 185);
    }


    .star-icon {
        color: #FFC107;
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


.makeup-detail {
    position: absolute;
    // top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 998;

    background-color: white;
    width: 440px;
    height: 330px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

    border: 2px solid rgb(220, 220, 220);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #bdbdbd;

    text-align: center;

    .makeup-detail-top {
        display: flex;
        justify-content: center;

        margin-bottom: 20px;

        .makeup-detail-left {
            width: 240px;
            height: 200px;
            text-align: center;
    
            h3 {
                font-family: 'Jalnan';
                font-size: 1.5rem;
                word-break: keep-all;
        
                margin-bottom: 10px;
                letter-spacing: 0.1rem;
        
                // color: #AFB3B6;
                color: #FFDF38;
                text-shadow: 1px 1px 4px rgb(0, 0, 0);
                // -webkit-text-stroke: 1px #FFDF38;
                // -webkit-text-stroke: 1px #FFDF38;
    
                // text-shadow: 3px 3px #2D63A7;
                // text-decoration:underline;
                // text-decoration-style: wavy;
                margin-bottom: 10px;
            }
    
            p {
                color: black;
            }
    
            .makeup-content {
                color: gray;
                font-size: 0.8rem;
                word-break: keep-all;
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }
    
        .makeup-detail-right {
            height: 200px;
            width: 200px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                width: 180px;
                height: 180px;
            }
        }
    }



    .select-course {
        text-align: center;

        button {
            border-radius: 20px;
            border: none;
            width: 70px;
            height: 25px;
            margin-left: 5px;
            margin-right: 5px;

            font-size: small;
            font-weight: 600;

            background-color: rgba(175, 179, 182, 0.5);
        }

        .selected {
            // background-color: rgba(175, 179, 182, 0.5);
            background-color: rgba(255, 223, 56, 0.5);

        }
    }

    .describe-text {
        font-size: 12px;
        font-weight: 400;
        color: #AFB3B6;
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
    }

}  




  